
.project

.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.m2e.core.prefs

docs/.classpath

docs/.settings/org.eclipse.core.resources.prefs

docs/.settings/org.eclipse.jdt.apt.core.prefs

docs/.settings/org.eclipse.jdt.core.prefs

docs/.settings/org.eclipse.m2e.core.prefs
